<!DOCTYPE html>
<head>
    <title>Calorimeter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
   <div class = "container">
       <div class = "jumbotron">
           <div class = "container">
               <h1 class = "heading">Calorimeter</h1>
               <p>Upload your food item image to calculate calories</p>
           </div>
       </div>

       <form class = "form-inline" method="POST" action="/" enctype="multipart/form-data">
            <label><b> Image: &nbsp;&nbsp;</b></label>
            <input class = "form-control" type="file" name="userfile" placeholder="Your Image">
            <button type="submit" class="btn btn-primary">Submit</button>
       </form>
   </div>
</body>